# Snakemake
.snakemake/

# Workflow-generated outputs
work/
outputs/
results/
logs/

# SLURM output
*.out
*.err

# AlphaFold intermediate files
*.a3m
*.sto
*.hhr
*.npy

# Containers
*.sif
singularity/

# Python cache
__pycache__/
*.py[cod]

# Reduced workflow while ARC capacity is limited
#inputs/fastas/pathogens/epic2b.fasta
#inputs/fastas/plants/pip1.fasta